@import '~antd/dist/antd.less';

html {
  scroll-behavior: smooth;
}

body {
  background-color: #E5E5E5;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.ant-layout {
  background: transparent;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

 .device-container {
  padding: 0 3%;
  
  @media screen and (min-width: @screen-xxl-min) {
    padding: 0;
  }
}

.ant-row {
  width: 100%;
  @media screen and (max-width: @screen-sm-max){
    margin-left: 0 !important;
  }
  col-md-*:last-child {
    padding-right: 0;
  }
}

//Less imports

@import "./less/Header.less";
@import "./less//Applicants.less";

//Display none media queries

.hidden-below-medium {
  @media only screen and (max-width: @screen-md-max) {
    display: none !important;
  }
}

.hidden-above-medium {
  @media only screen and (min-width: @screen-md-max) {
    display: none !important;
  }
}